        .button-main-container{
            display: flex;
            flex-direction:column;
            justify-content: center;
            height:90%;
            width:100%;
        }

        .button-container{
            text-align: center;
        }

        .button-container button{
            background-color:#82ceee; 
            color:white;
            padding:5px;
            width:200px;
            height:40px;
            outline:none;
            border: 1px solid #82ceee;
            border-radius:5px;
            margin: 10px;
            font-weight:bold;
        }

        .button-container button:hover{
            opacity: 0.7;
            cursor:pointer;
        }

        .button-container button:active{
            border:1px solid white;
            transform: translateY(2px);
        }